*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

header{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color:#DB905B  ;
    position: fixed;
    height: 70px;}
    ul{ box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 25px;
    }
    a{
        font-family:Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: black ;
        padding: 10px;
    }
    a:hover{
        color: white;
        font-size: 19px;}
        nav{
            padding-top: 150px;
            padding: 150px 150px 5px;
        }
h1::selection
{
    background-color: #DB905B;
}
p
{
    padding: 5px 0px;
}
p::selection{
    background-color: #DB905B;
    color: black;
}
.DivDaDiv
{
    display: flex;
 
 justify-content: space-evenly;
 align-items: center;
    
}
.Mapadiv
{
    display: flex;
    border: 3px solid #DB905B;
    height: 220px;
    width: 220px;
    justify-content: center;
    align-items: center;
    
}
.Img{
    display: flex;
    
    align-items: center;
    justify-content: center;
}
.Foto
{
border: 3px solid #DB905B;
margin: 8px;
}
.Texto
{
    padding-top: 30PX;
    display: flex;
    justify-content: center;
}
