*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    background-color: rgb(254, 254, 254);
}

/* #DC7C43 #DC834F #DB8E52 */
header{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color:#ad6428;
    position: fixed;
    height: 70px;}

ul{ box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 25px;
}
a{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black ;
    padding: 10px;
}
a:hover{
    color: white;
    font-size: 19px;
}.footer{
    border-top: 1px solid #333;
    bottom: 0;
    left: 0;
    height: 70px;
    position: relative;
    width: 100%;
}

.conteudo-principal{
    padding: 150px 160px 40px 160px;
}
.div1{
    background-color: rgb(252, 252, 252);
    width: 800px;
    height: 260px;
}
.div2{
    display: flex;
    justify-content: center;
}
h1{
   padding-left:200px;
   padding-top: 20px;
   padding-top: 40px;
}
.p{
    padding-left: 25px;
    padding-right: 28px;
    padding-top: 50px;
    text-align: center;
}
.img1{
    margin-right: 15px;
    padding-bottom: 40px;}
