*{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    background-color: rgb(254, 254, 254);
}

/* #DC7C43 #DC834F #DB8E52 
     box-shadow: 60px -16px #be6f2f;
    box-shadow: 10px 10px 8px #888888;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: 5px 10px #be6f2f;


*/
header{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color:#be6f2f;
    position: fixed;
    height: 70px;}

nav ul{ box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 25px;
}
nav a{
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white ;
    padding: 10px;
    position: relative;
}
nav a::after{
    content: " ";
    width: 0%;
    height: 2px;
    background-color: rgb(252, 252, 252);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

nav a:hover::after{
  width: 100%;
}



.conteudo-principal{
    padding: 140px 6px 40px 130px;
}
.div1{
    background-color: rgb(250, 250, 250);
    width: 800px;
    height: 260px;
    border-radius: 30px;
    box-shadow: 5px 10px #be6f2f;

}
.div2{
    display: flex;
    justify-content: center;
}
.divbutton{
    background-color: transparent;
    width: 100px;
    height: 40px;
    position: relative;
    margin-top: -70px;
    margin-left: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    
    padding: 5px;
    width: 90px;
    height: 30px;
    color: rgb(243, 243, 243);
    border: none;
    background-color: #be6f2f;
    border-radius: 9px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}
button:hover{
    background-color: #b26424;
}

h1{
    padding-left:200px;
    padding-top: 20px;
    padding-top: 40px;
}
.p{
    padding-left: 25px;
    padding-right: 28px;
    padding-top: 50px;
    text-align: center;
}
.img1{
    margin-right: 15px;
    padding-bottom: 40px;
}
.footer{
    border-top: 2px solid #5d5d5d;
    bottom: 0;
    left: 0;
    height: 70px;
    position: relative;
    width: 100%;
}
